
@media only screen and (max-device-width: 480px) {
    #profile{
        display: flex;
        width: 80%;
        margin:auto
    }
    #skills{
        text-align: center;
        padding-top: 0px;
    }
    .fig{
        color: white;
        text-align: center;
        margin-left: 2px;
        padding-right: 20px;

    }
    .contactImg{
       width: 100%;
    }
    a{
        padding-left: 10%;
        font-size: 30px;
        color: white;
        padding-left: 100px;
        text-decoration:none
    }
    #logo{
        width: 10%;
        padding: 10px 10px 60px 10px;
    }
    
    #AA{
        text-align: center;
        }
    h1{
        margin-block-start: 2em;
    }
    .work{
        width: 100%;
    }
    
}

@media only screen and (min-device-width:481px) {

    .work{
        width: 40%;
    }

    #AA{
        margin-top: 150px;
        margin-bottom: 150px;
        display: flex;
        justify-content: center;
        }
    

a{
    padding: 50px;
    font-size: 30px;
    color: white;
    padding-left: 100px;
    text-decoration:none
}

#logo{
    width: 120px;
    padding: 10px 10px 60px 10px;
}
#profile{
    display: block;
    float: right;
    height: 600px;
    padding-bottom: 300px;
    padding-right: 170px;
}



h1{
    font-size: 45px;
    padding-top: 100px;

}

#homeNAME{
    color: #15FFAB;
    padding-left: 350px;
}

#desc{
    padding-left: 200px;
    font-size: 25px;
}

#contact{
    display: flex;
    justify-content: space-evenly;
    margin: 1em;
    padding-top: 200px;
    margin-left: 150px;

}

.contactImg{
    width: 45%;
    padding: 10px;
}

.fig{
    color: white;
    text-align: center;
    margin-left: 2px;
    padding-right: 20px;

}

#skills{
    display: flex;
    text-align: center;
    padding-top: 0px;
}

.forFooter{
    display: flex;
    justify-content: center;
    font-size: small;
    text-align: center;
    padding-left: 0px;
    margin-top: 100px;
}
}
body{
    background-color: #1C1B20;
    height:100%;
}

.header {
    display: flex; 
    justify-content: center;
}
p { 
    display: block;
    margin: auto;
    width: 50%;
    color: white;
    font-family: 'Mada';
}
h1 {
    color: white;
    padding-left: 300px;
    line-height: .1;
}
p {
    font-size: 33px;
}

.bolded{
    font-weight:bold;
}
.forFooter{
    display: flex;
    justify-content: center;
    font-size: small;
    text-align: center;
    padding-left: 0px;
    margin-top: 100px;
}
